<div class="container" style="margin:30px">
  <div class="row">
    <h5 class="text-left">登録役職一覧</h5>
  </div>
  <div class="row">
    <!--役職の追加欄を作成-->
  </div>
  <div class="row" style="margin-top:20px">

  </div>
</div>